<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css" type="text/css">
  <title>FastServe - Meal Order &amp; Delivery</title>
</head>

<body>
  <div>
    <header>
      <nav class="navbar navbar-expand-sm py-0 px-5 justify-content-between">
        <a class="navbar-brand" href="/"><img height="60" src="/img/logo.png" alt=""></a>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/" style="color: #5e17eb"><b>Home</b></a></li>
          <li class="nav-item"><a class="nav-link" href="/meals" style="color: #5e17eb"><b>Meal Packages</b></a></li>
          <li class="nav-item"><a class="nav-link" href="/account" style="color: #5e17eb"><b>Account</b></a></li>
        </ul>
      </nav>
    </header>

    {{{body}}}
  </div>

  <footer class="bg-warning d-flex justify-content-between align-items-center px-5">
    <p class="m-0">&copy; 2020 FastServe. All rights reserved.</p>
    <div class="navbar navbar-expand-sm">
      <ul class="navbar-nav">
        <li class="nav-item px-5"><a class="nav-link" href="/meals" style="color: #5e17eb"><b>Meal Packages</b></a></li>
        <li class="nav-item"><a href="https://www.facebook.com/" target="_blank" class="nav-link">
          <i class="icon-facebook icon-large " style="color: #5e17eb"></i></a></li>
        <li class="nav-item"><a href="https://www.instagram.com/" target="_blank" class="nav-link">
          <i class="icon-instagram icon-large" style="color: #5e17eb"></i></a></li>
        <li class="nav-item"><a href="https://twitter.com/" target="_blank" class="nav-link">
        <i class="icon-twitter icon-large" style="color: #5e17eb"></i></a></li>
      </ul>
    </div>
  </footer>

</body>

</html>