
<!-- Hero section -->
<div class="account_hero css_hero" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/img/clerkHero.jpg')">
  <h1 class="text-center">Clerk Dashboard</h1>
</div> 

<!-- Little store description -->
<div class="quote">
  <p class="text-center py-3 my-1" style="font-size: 1.1em;"><i>
      Welcome to your page {{user.firstName}} {{user.lastName}}.
  </i></p>
</div>

<hr style="border: 2px solid #ffc122" class="mx-4 my-1">

<!-- Other Options -->
<section class="my-3 py-1">
    <div class="text-center">
        <a href="/clerkAdd" class="btn btn-dark btn-lg my-4 mx-5">Add Meal Package</a>
        <a href="/clerkView" class="btn btn-dark btn-lg my-4 mx-5">View Meal Packages</a>
        <a href="/logout" class="btn btn-dark btn-lg my-4 mx-5">Log out</a>
    </div>
</section>

