
* {
    margin: 0;
}

body {
    height: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

header {
    background-color: white;
    border-bottom: 3px solid #5e17eb;
}

.css_hero {
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;   
    align-items: center;
    justify-content: center;
}

.quote {
    border-top: 3px solid #ffc122;
}

h1 {
    padding: 10px 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5em;
    color: white
}

.css_features {
    background-color: #ffc122;
    box-shadow: 0 5px 10px 5px #ffc122;
}

.css_featpic {
    width: 15vw;
}
.css_mealpic, .css_packpic {
    width: inherit;
}

.css_formCon {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.css_form {
    min-width: 400px;
    width: 80vw;
    max-width: 500px;
    padding: 20px;
    border-radius: 1em;
    box-shadow: 0 5px 10px #ffc122;
}

.css_add {
    min-width: 400px;
    width: 80vw;
    max-width: 800px;
    padding: 20px;
    border-radius: 1em;
    box-shadow: 0 5px 20px #5e17eb;
}

.css_list {
    
    min-width: 400px;
    width: 80vw;
    max-width: 800px;
    padding: 20px;
    border-radius: 1em;
    box-shadow: 0 5px 20px #ffc122;
}

form label {
    margin: 13px 0 4px;
}

@media screen and (min-width: 890px) {
    .css_formCon {
        flex-wrap: no-wrap;
    }
    .css_form {
        width: 43vw;
    }
}